@using API.Models;

@model List<Producto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        Productos
    </div>
   
    <table>
       <thead>
           <tr>
               <th style="text-align:center">Codigo</th>
                <th style="width:20%">Nombre</th>
                <th style="width:25%">Descripcion</th>
                <th>Costo</th>
                <th></th>
           </tr>
       </thead>
       <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@item.Idproductos</td>
                    <td>@item.Titulo</td>
                    <td>@item.Descripcion</td>
                    <td>@item.PrecioUnitario</td>
                    <td>
                        <a asp-action="Producto" asp-controller="Home" asp-route-id="@item.Idproductos" class="btn btn-primary btn-sm">Ver Articulo</a>
                    </td>
                    <td>
                        <a asp-action="AgregarACarrito" asp-controller="Home" asp-route-id="@item.Idproductos" class="btn btn-success btn-sm" >Agregar a carrito</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>